$nav_colour: #5ED995;
$nav_colour_focus: #5ACF6D;

$accent_colour: #5AAFCF;
$accent_colour_focus: #5ED7D9;

$block_colour: #5EC2A7;

$link_colour: #055b83;
$link_colour_footer: #e6f6ff;
$text_colour: rgb(241, 241, 241);
$background-color: #FFF;

// Blauw 1:
// RGB: 90, 175, 207
// HEX: #5AAFCF

$blue1: #5AAFCF;

// Blauw 2:
// RGB: 94, 215, 217
// HEX: #5ED7D9

$blue2: #5ED7D9;

// BlauwGroen:
// RGB: 94, 194, 167
// HEX: #5EC2A7

$bluegreen: #5EC2A7;

// Groen 1:
// RGB: 94, 217, 149
// HEX: #5ED995

$green1: #5ED995;

// Groen 2:
// RGB: 90,207, 109
// HEX: #5ACF6D

$green2: #5ACF6D;