$nav_colour: #5ED995;
$nav_colour_focus: #5ACF6D;

$accent_colour: #5EC2A7;
$accent_colour_focus: rgb(63, 134, 114);

$block_colour: #5AAFCF;

$link_colour: #055b83;
$link_colour_footer: #e6f6ff;
$text_colour: rgb(241, 241, 241);
$background-color: #5EC2A7;
